
@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}


ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}
